@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");
.single-blog-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-container {
  color: white;
  margin-top: 50px;
  font-family: "Source Sans Pro", sans-serif;
  max-width: 50vw;
  font-size: 1.4rem;
}

.text-container > p {
  margin-bottom: 30px;
}

.gallery {
  margin-bottom: 20px;
}

.blog-header-container {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 50vh;
}

@media screen and (max-width: 860px) {
  .blog-header-container {
    height: 50vh;
  }

  .blog-header-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .text-container {
    max-width: 70vw;
  }
}

@media screen and (max-width: 560px) {
  .text-container {
    max-width: 90vw;
  }
}
